@charset "UTF-8";

body {
    background: white url('../imagens/fundo-madeira.jpg') center center / cover no-repeat fixed;
    text-align: right;
    margin: 0;
}

#frame-iphone {
    display: block;
    background-image: url('../imagens/frame-iphone.png');
    margin: auto;
    margin-top: -100px;
    position: relative;
    width: 311px;
    height: 627px;
}

iframe {
    display: block;
    width: 268px;
    height: 473px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a > img {
    min-width: 30px;
    max-width: 50px;
    width: 5vw;
    border-radius: 50px;
}

#menu {
    display: inline-block;
    width: 50px;
}